<header class="rule-bar">
  <a href="/home" class="brand">&#9733; Frappe Events</a>
  <div class="inline-flex items-center gap-4">
    {% include "components/theme_toggle.html" %}
    {% if frappe.session.user == "Guest" %}
      <button
        type="button"
        x-data
        @click="$dispatch('open-login')"
        class="signin-link bg-transparent border-0 cursor-pointer p-0"
        style="color: inherit;"
      >
        sign in <i data-lucide="arrow-right" class="w-4 h-4"></i>
      </button>
    {% else %}
      <button
        type="button"
        x-data="loginDialog()"
        @click="logout()"
        class="signin-link bg-transparent border-0 cursor-pointer p-0"
        style="color: inherit;"
      >
        logout <i data-lucide="arrow-right" class="w-4 h-4"></i>
      </button>
    {% endif %}
  </div>
</header>
